<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/CSS/table.css" />

    <title>History</title>
  </head>
  <body>
    <div class="container">
      <table>
        <tr>
          <th>Sent from</th>
          <th>Recieved by</th>
          <th>Amount</th>

          <!-- <th>Id</th> -->
        </tr>
        {% for t in transactions %}
        <tr>
          <td>{{t.to_email}}</td>
          <td>{{t.from_email}}</td>
          <td>{{t.amount}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
